html {
  overflow-y: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size-normal-desktop;
  color: $color-white;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &::after {
    content: "";
    background: border-box url("~@/assets/images/bricks-bg.jpeg") $main-color repeat;
    background-size: cover;
    opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

// For hiding h1-h6 elements
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.visually-hidden-mobile {
  @include mobile {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

// Default transitions for route changes
.route-change {
  &-enter-active,
  &-leave-active {
    transition: 0.3s opacity ease;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }
}

// Transitions for route changes between quiz questions
.route-change {
  &-left {
    &-enter-active,
    &-leave-active {
      transition: 0.4s all ease-out;
    }

    &-enter {
      opacity: 0;
      transform: translateX(120%);
    }

    &-leave-to {
      opacity: 0;
      transform: translateX(-60%);
    }

    &-enter-to,
    &-leave {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  &-right {
    &-enter-active,
    &-leave-active {
      transition: 0.4s all ease-out;
    }

    &-enter {
      opacity: 0;
      transform: translateX(-60%);
    }

    &-leave-to {
      opacity: 0;
      transform: translateX(120%);
    }

    &-enter-to,
    &-leave {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

// Styles fro vue-croppa component
.croppa-container {
  position: relative;
  display: flex;
  justify-content: stretch;

  canvas {
    width: 15rem !important;
    height: 15rem !important;
  }
}

.icon-remove {
  position: absolute;
  right: 0;
  top: 15px;
}
