// Colors
$main-color: #bf360c;
$color-analogous-one: #00d5ff8c;
$color-analogous-two: #005872;
$color-complementary--dark: #4C1200;
$color-complementary--light: #e8e8e8;

$color-white: #ffffff;
$color-lightgrey: lightgrey;
$color-dark: #000000c2;
$color-black: #000000;
$color-red: red;
$color-yellow-win: rgb(255, 216, 72);

$transparent-background-color: rgba(0, 0, 0, 0.589);

// Font sizes
$font-size-title-desktop--primary: 2.5rem;
$font-size-title-desktop--secondary: 1.8rem;
$font-size-title-mobile--320px: 1.2rem;
$font-size-normal-desktop: 18px;
$font-size-normal-mobile: 16px;
$font-color--main: #2c3e50;

// Line height
$line-height-mobile: 2rem;
$line-height-mobile--320px: 1.3rem;

// Box shadows
$box-shadow--default: 0 0 5px 5px $color-lightgrey;
$box-shadow--buttons: 3px 6px 4px 1px $color-dark;
$box-shadow--dark: 3px 6px 10px 5px $color-dark;
$box-shadow--white: 0 0 5px 5px $color-white;

// Font-family
$font-family: 'Dosis';

@import "~bulma/sass/utilities/_all";